.navbar {
  background: #7f1712;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.navbar-logo h2 {
  margin: 0;
  color: white;
}

.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #ffd8d8;
}

.logout-btn-nav {
  background: #b51f1f;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn-nav:hover {
  background: #d42828;
}